<div class="container">
	<div class="new-book" (click)="onAddBook()">
		<span>
			<mat-icon>book_add</mat-icon>
	    	<span>Add Book</span>
		</span>
	</div>
	<ul>
	  <app-book *ngFor="let book of notes"
	    [id]="book['id']" 
		[title]="book['title']" 
		[cover]="book['cover']" 
		[date]="book['date']" 
	    (delete)="deleteNote($event)"
	    (update)="updateNote($event)"
	    >
	  </app-book>
	</ul> 	

	<div class="button-container">
	  <button *ngIf="currentPage<maxPages" (click)="onLoadMore()"
	    mat-raised-button
	    color="primary"
	    type="button">
	    <mat-icon>cached</mat-icon>
	    <span>Load More</span>
	  </button>
	</div>

</div>
